/* Apply the background image */
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-attachment: fixed;
  font-family: 'Calibri', sans-serif;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/background.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* Apply the "animated-element" class to an HTML element */
.animated-element {
  /* Add your styles for the animated element */
}

/* Centered white rectangle styles */
.centered-rectangle {
  position: relative;
  margin: 20px auto;
  background-color: grey;
  padding: 40px;
  border-radius: 30px;
  text-align: right;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  opacity: 0.7;
  animation: revealAnimation 1.25s forwards;
  width: 70%; /* Adjusted width to 70% of the viewport width */
}

/* Styles for the top right image */
.top-left-image {
  position: absolute;
  top: 20px;
  right: 20px; /* Align image to the top right */
}

.top-left-image img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

/* Styles for the name, job, and bio inside the rectangle */
.name-bio {
  text-align: left; /* Align text to the left */
}

.centered-rectangle h3 {
  margin: 10px 0;
  font-size: 2em;
  color: black;
}

.centered-rectangle h4 {
  margin: 5px 0;
  font-size: 1.5em;
  color: black;
}

.centered-rectangle p {
  margin: 12px 0;
  font-size: 1.3em;
  color: #24292e;
}

/* Use media query to hide image in mobile mode */
@media only screen and (max-width: 768px) {
  .top-left-image {
    display: none;
  }
}

/* Styles for the grid layout of tiles below the centered rectangle */
.tiles-container {
  display: flex;
  justify-content: center; /* Align tiles in the center */
  gap: 20px;
}

/* Styles for each tile */
.tile {
  position: relative;
  background-color: grey;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;
  animation: revealAnimation 1s forwards;
  transition: opacity 0.5s ease;
}

.tile img {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: transform 0.5s ease;
}

/* Text box in front of the logo */
.logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

/* Additional styles to ensure tiles appear on the page */
.tile:nth-child(odd) {
  background-color: grey;
}

/* Add these styles for the projects section */
.projects-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 30px;
}

.projects-section h1 {
  color:black;
  font-family: 'Calibri', sans-serif;
  font-size: xx-large;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.project {
  position: relative;
  background-color: grey;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;
  animation: revealAnimation 1s forwards;
  transition: opacity 0.5s ease;
}

/* Additional styles for the skills section */
.skills-section {
  display: flex; /* Display skills horizontally */
  justify-content: space-between; /* Space between skills */
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.skills-section h1 {
  color: black;
  font-family: 'Calibri', sans-serif;
  font-size: xx-large;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.skills-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-section li {
  opacity: 0.7;
  animation: revealAnimation 1s forwards;
  transition: opacity 0.5s ease;
}

/* Styles for skill bars */
.skill-bar {
  width: 400px;
  height: 10px;
  background-color: grey;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.skill-level {
  height: 100%;
  width: 0;
  background-color: black;
  border-radius: 5px;
  transition: width 1s ease; /* Added transition for skill bar animation */
}

/* Additional styles for the contacts section */
.contacts-section {
  display: flex;
  justify-content: space-between; /* Align contacts in the center */
  gap: 5px;
  padding: 10px;
  margin-top: 20px;
}

.contacts-section h1 {
  color: black;
  font-family: 'Calibri', sans-serif;
  font-size: xx-large;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.contacts-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.contacts-section li {
  background-color: grey;
  padding: 1000px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0.7;
  animation: revealAnimation 1s backwards;
  transition: opacity 0.5s ease;
}